<nav class="navbar navbar-expand-md bg-body-light sticky-top border-bottom">
    <div class="container-fluid">
      <a class="navbar-brand"  href="/listing"><i class="fa-solid fa-ice-cream"></i>Willy-Wonka</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" >
        
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse "   id="navbarNavAltMarkup">
        <div class="navbar-nav ">
          <a class="nav-link"  href="/listing">Home</a>
          <a class="nav-link" href="/listing/new">Add Listings</a>
          
        </div>
      </div>

      <div class="collapse navbar-collapse "   id="navbarNavAltMarkup">
        <div class="navbar-nav ms-auto">
          <% if(!currentUser) { %>
          <a class="nav-link"  href="/api/signup">Signup</a>
          <a class="nav-link" href="/api/login">Login</a>  <% } %>
          <% if(currentUser) { %>
          <a class="nav-link" href="/api/logout">Logout</a>
          <% } %>
        </div>
      </div>
    </div>
  </nav>